/* RESET Y BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #310e0e !important;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

/* NAVBAR */
.navbar-custom {
    background: linear-gradient(135deg, #000000 0%, #000000 100%) !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* LOGO */
.logo-custom img {
    border-radius: 50%;
    border: 2px solid #fff;
}

/* TÍTULO */
.title-custom {
    color: white !important;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
img {
    border: 6px solid white;
}
.gafas {
    width: 150px;
    transition: transform 0.3s ease;
    border: none;
}

.gafas:hover {
    transform: scale(1.1);
}
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    padding: 12px;
    border-radius: 50%;
    z-index: 9999; /* 🔥 importante */
}
.whatsapp-btn svg {
    width: 30px;
    height: 30px;
}
body {
    background-color: #111;
    font-family: 'Poppins', sans-serif;
}

.pizza-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 10px;
    transition: transform 0.3s;
}

.pizza-img:hover {
    transform: scale(1.05);
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #ffc107; 
}
.social-icon {
    font-size: 40px;
    color: white;
    transition: 0.3s;
}

.social-icon:hover {
    color: #ffc107; /* amarillo */
    transform: scale(1.2);
}
body {
    background: url("imagenes/7f8afb6d-c034-4e21-b0c6-99afd67e82d1.png") no-repeat center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

/* OSCURECER SUAVE PARA QUE SE LEA EL TEXTO */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.3); /* suave */

    z-index: -1;
}